# Database
NUXT_DB_URL="postgresql://admin@localhost:5432/dev?connect_timeout=10"

# Umami Analytics
NUXT_PUBLIC_UMAMI_HOST="https://<your-umami-host>.com"
NUXT_PUBLIC_UMAMI_ID="<your-umami-id>"

# Misc
NUXT_PUBLIC_APP_DOMAIN="http://localhost:3000"
TOLGEE_PROJECT_ID="5243"
