@import "tailwindcss";

@theme {
  	--color-accent: rgb(87, 74, 226);
    --color-secondary: rgb(248, 74, 167);
    --color-accent-content: rgb(255, 255, 255);
    --color-base-100: rgb(255, 255, 255);
    --color-base-200: rgb(245, 245, 245);
    --color-base-300: rgb(230, 230, 230);
    --color-base-content-100: rgb(0, 0, 0);
    --color-base-content-200: rgb(80, 80, 80);
    --color-base-content-300: rgb(130, 130, 130);
    --color-success: rgb(127, 255, 0);
    --color-error: rgb(244, 67, 54);

    --font-sans: 'Space Grotesk', sans-serif;

    --animate-fade-in: fade-in 300ms ease-out;
    --animate-infinite-slider: scroll-l 30s linear infinite;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-base-100);
    color: var(--color-base-content-100);
    font-family: var(--font-sans);

  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scroll-l {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * var(--slide-width) * var(--slide-count)));
    }
}
